.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1024px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin: 20px 0 40px;
}

.search > input {
  background-color: #f7eded;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 40px;
  width: 620px;
  margin-top: 24px;
  padding-left: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
  background-color: #f7eded;
  margin: 14px 0;
  line-height: 44px;
  font-size: 20px;
}

.line span {
  margin: 0 10px;
}

.line > span {
  font-size: 12px;
  cursor: pointer;
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}
